config:
  db_path: gitpoll.s3db
jobs:
  xBPMN_ExternalDependencyChange:
    repos:
      - remote_url: https://github.com/gemoc/gemoc-studio-eclipse-integration.git
        branch: master
    action:
      request: github_dispatch
      url: https://api.github.com/repos/gemoc/gemoc-studio-eclipseforks-integration/dispatches
      token_env_var_name: PERSONNAL_GITHUB_ACCESS_TOKEN
  ALE_ExternalDependencyChange:
    repos:
      - remote_url: https://github.com/gemoc/gemoc-studio-eclipse-integration.git
        branch: master
    action:
      request: jenkins
      url: https://ci.inria.fr/gemoc/job/ale-lang/job/master/build
      jenkins_user_env_var_name: JENKINS_USER
      token_env_var_name: JENKINS_USER_ACCESS_TOKEN   
